
page-profile {
  ion-content{background-color:map-get($colors,x-white);}
  .profile {height:20vh;background:color($colors,x-gray-bg);position: relative;margin-bottom:3vw;}
  .profile img {width:22vw;height:22vw;border-radius:11vw;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;}
  .profile img.activated,.profile img:active {opacity: 0.75;}
  .profile-header {width:88vw;height:fit-content;font-size:4vw;color:map-get($colors,x-mint);padding:2vw 0;margin:0 auto;margin-bottom:3vw;} 
  .profile-error {width:88vw;height:fit-content;font-size:3vw;color:map-get($colors,x-mint);padding:2vw 0;margin:0 auto;}
  .form ion-list, .toggle ion-list{width:88vw;margin:0 auto;margin-bottom:6vw;}
  .form ion-item, .toggle ion-item{background-color:map-get($colors,x-gray-bg);margin-bottom:3vw;font-size:3vw;color:map-get($colors,x-gray-dark) !important}
  .form ion-label, .toggle ion-label{color:map-get($colors,x-gray-dark) !important}
  .form ion-item ion-textarea{padding:4vw 0;border-bottom:none;}
  .profile-readonly {color:#ababab !important;}
  .profile-submit{width:88vw;margin:0 auto;text-align:center;margin-top:3vw;}
  .profile-submit button{width:88vw;border-radius:0;box-shadow:none;background-color:map-get($colors,x-mint);color:map-get($colors,x-white);font-weight:normal !important;font-size:4vw;height:44px;}
  .profile-logout{background-color:map-get($colors,x-gray-category) !important;color:map-get($colors,x-white) !important;}
  .text-on-bottom > .button-inner {
    flex-direction: column;
  }
  .heart-value {
    font-size:2.5vw;
  }
  .android {
    ion-textarea {
      margin-left: 0 !important;
    }
  }
  
  }
  