page-home {
    ion-content {
        background-color:map-get($colors,x-gray-bg) !important;
    }   

    ion-row{ ion-col{ width:100% !important; margin-left: 0 !important; margin-right: 0 !important; img{ width:100%; } } }
}
